NEXT_PUBLIC_SUPABASE_URL=https://mzrdzfbtockyefosegfr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16cmR6ZmJ0b2NreWVmb3NlZ2ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxODA2MDAsImV4cCI6MjA5MDc1NjYwMH0.dm-fsUEfrSjNyW4k9l6cyl81U9_L-a1fIFyn4wiLkdU
